:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --content-width: 600px;
}

html {
    background-color: rgb(29, 58, 59);
}


h1 {
    font-family: "Courier New", "sans-serif";
    color: white;
    font-size: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    display: inline-block;
    border: 2px solid black;
    color: white;
    background-color: rgb(29, 58, 59);
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 5px;
}

#btnset {
    display: flex;
    align-items: center;
    justify-content: center;
}

button:focus, input:focus {
    outline: none ;
    box-shadow: 0 1px 10px 0 rgba(0,0,0);
}

#chosenColor {
    padding: 0px;
    border: 0px;
    vertical-align: middle;
    height: 17px;
}


#wrapper {
    position: relative;
    height: 75vw;
    width: 75vw;
    margin: 30px auto;
    max-height: var(--content-width);
    max-width: var(--content-width);
    border: 5px solid black;
}

#container {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
    text-align: center;
}